@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#nav ul {
  list-style: none;
  background-color: rgb(66, 56, 56);
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;  
  font-family: poppins;
}

#nav li a{
  color: rgb(247, 241, 220);
  text-decoration: none;
}

#nav a:hover {
  color: rgb(255, 89, 89);
}

body {
  background-color: rgb(66, 56, 56);
  color: rgb(247, 241, 220);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 24px;
}

h1, h2 {
  color: rgb(255, 255, 255);
}

/* index.html */
#index-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 2000px;
}

#home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#pineapple-img {
  width: 200px;
  height: 200px;
  margin: 30px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid;
}

iframe {
  height: 500px;
  align-self: center;
}

/* about.html */

#about-container {
  background: rgb(36, 40, 40);
  margin: 4rem;
  box-shadow: 0px 0px 10px rgb(111, 122, 122);
  padding: 2rem;
  font-size: 1rem;
  margin: 10px;
}

#about-container section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#about-container h1 {
  color: aquamarine;
}

#about-intro p{
  font-weight: bold;
}

#hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  gap: 1rem;
}

#visited {
  list-style: none;
}

#drawings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#drawings img{
  width: 10rem;
  border-radius: 10px;
}

#drawings img:hover{
  transform: scale(1.2);
}

/* resume.html */

#resume-container {
  background-color: white;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  padding: 32px 24px;
  box-shadow: 0px 5px 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#resume-container section{
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0px 20px;
}

#resume-container h1 {
  color: black;
}

#resume-container h2 {
  color: black;
}

#resume-container h1 {
  font-size: xx-large;
}

/* google_map.html */
#canvas {
  width: 100%;
  height: 500px;
}